<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Alfred</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Alfred</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              {% if current_user.is_authenticated() %}
                <img class="img" src="{{ gravatar_url(current_user.email, 20) }}" alt="{{ current_user.name }}">
                {{ current_user.login }}
              {% else %}
                <a href="{{ auth_url }}" class="navbar-link">Login with Github</a>
              {% endif %}
            </p>
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      {% block container %}
      {% endblock %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-1.8.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
